@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap');

* {
    font-family: 'Cutive', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cutive', serif !important;   
}

.hidden {
    display: none;
}

.link {
    color: rgba(var(--pst-color-link),1);
}

#clock {
    height: 32px;
    padding-right: 2%;
}

#programming {
    height: 32px;
    padding-right: 2%;
}

#large-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#subtitle {
    padding-top: 2%;
}
